<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>	
	<!-- redirection vers un fichier -->
	<appender name="JPA-StackTrace" class="ch.qos.logback.core.FileAppender">
		<file>app.log</file>
		<append>true</append>
		<immediateFlush>true</immediateFlush>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="EXCEPT" class="ch.qos.logback.core.FileAppender">
		<file>exception.log</file>
		<append>true</append>
		<immediateFlush>true</immediateFlush>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- politique de log pour les classes du package dev.console -->
	<logger name="fr.pizzeria" level="ERROR">
		<appender-ref ref="EXCEPT" />
	</logger>
	
	<!-- Afficher les erros dans un fichier -->
	<logger name="org.hibernate" level="INFO">
		<appender-ref ref="JPA-StackTrace" />
	</logger>
	
</configuration>